$color: #047766;
%d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  position: relative;

  .body-side {
    width: 100%;
    height: 100vh;
  }

  .footer-side {
    @extend %d-flex;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: white;

    a {
      text-decoration: none;
    }

    .menu-item {
      @extend %d-flex;
      width: 100%;
      height: 56px;
      cursor: pointer;
      transition: .3s;

      .icon {
        .icons {
          width: 40px;
          height: 40px;
          mask: {
            repeat: no-repeat;
            size: 100%;
            position: center center;
          };
          -webkit-mask: {
            repeat: no-repeat;
            size: 100%;
            position: center center;
          };
        }

        .house {
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-mask-image: url(./icons/house.svg);
          mask-image: url(./icons/house.svg);
          background-color: #D6DADF;
        }

        .history {
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-mask-image: url(./icons/history.svg);
          mask-image: url(./icons/history.svg);
          background-color: #D6DADF;
        }

        .settings {
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-mask-image: url(./icons/setting.svg);
          mask-image: url(./icons/setting.svg);
          background-color: #D6DADF;
        }

        .profile {
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-mask-image: url(./icons/person.svg);
          mask-image: url(./icons/person.svg);
          background-color: #D6DADF;
        }
      }
    }

    .active {
      .icon {
        .house {
          background-color: $color;
        }

        .history {
          background-color: $color;
        }

        .settings {
          background-color: $color;
        }

        .profile {
          background-color: $color;
        }
      }

      .name {
        color: $color;
      }
    }
  }

  .burger {
    z-index: 90;
    position: absolute;
    top: 13px;
    left: 15px;
    img{
      width: 25px;
    }
  }

  .menu-berger {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 80%;
    height: 100vh;
    background-color: #f8f8f8;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;

    .header-menu {
      width: 100%;
      height: 200px;
      background-color: $color;
      padding: 10px;

      .close-menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      .logo-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 130px;
        }
      }

    }

    .body-menu {
      margin-top: 20px;
      padding: 17px;

      .menu-item {
        margin-top: 20px;
        height: 46px;
        background-color: white;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .left-menu {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 10px;
            img{
              width: 32px;
            }
          }

          .icon-home{
            margin-right: 10px;
            img{
              width: 23px;
            }

          }

          .name {
            font-size: 16px;
            color: #100029;
          }
        }

        .icon {
          img {
            width: 12px;
          }

        }
      }
    }
  }

  .show-menu {
    left: 0;
  }
}