$color: #047766;
%d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button {
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  background-color: $color;
  color: white;
  border: 1px solid #EEF0F4;
  border-radius: 6px;
  cursor: pointer;
}

%input {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid #EEF0F4;
  border-radius: 6px;
  padding-left: 10px;
  &:focus{
    outline: 2px solid #047766
  }
}

.register-container {
  @extend %d-flex;
  width: 100%;
  height: 100vh;

  .left {
    width: 55%;
    height: 100%;
    background-image: url("./bgimages/buyuk.png");
    background-size: cover;
    background-repeat: no-repeat;

    .sloy {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      @extend %d-flex;

      img {
        width: 300px;
        height: 300px;
      }
    }
  }

  .right {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 45%;
    height: 100%;
    overflow-y: auto;

    .language-box{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 40px;
      padding-right: 20px;
      .language{
        margin-right: 9px;
        color: #787F95;
        font-weight: 600;
        transition: 0.3s;
        font-size: 15px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
      }
      .active{
        border-bottom: 2px solid #047766;
      }
    }


    .title-login {
      color: #002B48;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }

    .form {
      width: 90%;
      margin: 30px auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .register-inputs {
        width: 100%;

        .label-form {
          font-size: 12px;
          color: #787F95;
          text-transform: uppercase;
        }

        input {
          @extend %input;
          margin-bottom: 20px;
        }
      }

      .inputs {
        width: 60%;

        input {
          @extend %input
        }

        .PhoneInput {
          display: flex;
          align-items: center;

          .PhoneInputCountry {
            display: flex;
            align-items: center;

            .PhoneInputCountrySelect {
              width: 20px;
              height: 20px;
              border: none;
              color: #002B48;
              border-radius: 50%;

              &:focus {
                outline: none;
              }
            }

            .PhoneInputCountryIcon {
              width: 40px;
              height: 40px;
              margin-top: 22px;
              margin-right: 10px;
              margin-left: 10px;
              color: white;
            }
          }
        }

        .label-form {
          font-size: 12px;
          color: #787F95;
          text-transform: uppercase;
        }
      }

      .inputs-verify-code {
        height: 80px;

        input {
          @extend %input;
          width: 40px;
          height: 50px;
          margin-right: 7px;
          padding-left: 13px;
          font-weight: bold;
          font-size: 26px;
          border-radius: 5px;
          color: #002B48;
        }

        .label-form {
          font-size: 12px;
          color: #787F95;
          text-transform: uppercase;
        }

      }

      .login-btn {
        width: max-content;
        height: max-content;
        margin-bottom: 5px;
        @extend %button
      }

      .login-btn-disablet {
        width: max-content;
        height: max-content;
        margin-bottom: 5px;
        opacity: 0.5;
        @extend %button
      }
    }

    .form-verify {
      width: 80%;
      height: 110px;
      padding-bottom: 20px;
      margin: 30px auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .inputs-verify-code {
        height: 80px;

        input {
          @extend %input;
          width: 40px;
          height: 50px;
          margin-right: 7px;
          padding-left: 13px;
          font-weight: bold;
          font-size: 26px;
          border-radius: 5px;
        }

        .label-form {
          font-size: 12px;
          color: #787F95;
          text-transform: uppercase;
        }

      }

      .login-btn {
        width: max-content;
        height: max-content;
        margin-bottom: 5px;
        @extend %button
      }

      .login-btn-disablet {
        width: max-content;
        height: max-content;
        margin-bottom: 5px;
        opacity: 0.5;
        @extend %button
      }
    }

    .coundown {
      width: 80%;
      margin: 0 auto;

      .count {
        display: flex;
        align-items: center;
        width: max-content;
        padding: 10px;
        border-radius: 44px;
        border: 1px solid #EEF0F4;
        color: #002B48;
        font-weight: 600;

        img {
          width: 30px;
          margin-right: 10px;
        }
      }
    }

    .check-box {
      width: 80%;
      margin: 40px auto;
      display: flex;
      color: #787F95;
      font-size: 14px;

      .checkbox-wrapper-13 {
        margin-right: 10px;
      }
      @supports (-webkit-appearance: none) or (-moz-appearance: none) {
        .checkbox-wrapper-13 input[type=checkbox] {
          --active: #047766;
          --active-inner: #fff;
          --focus: 2px rgba(39, 94, 254, .3);
          --border: #047766;
          --border-hover: #047766;
          --background: #fff;
          --disabled: #F6F8FF;
          --disabled-inner: #E1E6F9;
          -webkit-appearance: none;
          -moz-appearance: none;
          height: 21px;
          outline: none;
          display: inline-block;
          vertical-align: top;
          position: relative;
          margin: 0;
          cursor: pointer;
          border: 1px solid var(--bc, var(--border));
          background: var(--b, var(--background));
          transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        }
        .checkbox-wrapper-13 input[type=checkbox]:after {
          content: "";
          display: block;
          left: 0;
          top: 0;
          position: absolute;
          //transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        }
        .checkbox-wrapper-13 input[type=checkbox]:checked {
          --b: var(--active);
          --bc: var(--active);
          --d-o: .3s;
          --d-t: .6s;
          --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }
        .checkbox-wrapper-13 input[type=checkbox]:disabled {
          --b: var(--disabled);
          cursor: not-allowed;
          opacity: 0.9;
        }
        .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
          cursor: not-allowed;
        }
        .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
          --bc: var(--border-hover);
        }
        .checkbox-wrapper-13 input[type=checkbox]:focus {
          box-shadow: 0 0 0 var(--focus);
        }
        .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
          width: 21px;
        }
        .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
          opacity: var(--o, 0);
        }
        .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
          --o: 1;
        }
        .checkbox-wrapper-13 input[type=checkbox] + label {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          margin-left: 4px;
        }
        .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
          border-radius: 7px;
        }
        .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
          --r: 43deg;
        }
      }
      .checkbox-wrapper-13 * {
        box-sizing: inherit;
      }
      .checkbox-wrapper-13 *:before,
      .checkbox-wrapper-13 *:after {
        box-sizing: inherit;
      }
    }

    .text-register {
      margin-top: 10px;
      width: 100%;
      font-size: 14px;
      color: $color;
      font-weight: bold;
      display: flex;
      justify-content: center;
      cursor: pointer;

      .label-text {
        color: #787F95;
        font-size: 14px;
        margin-right: 10px;
        cursor: auto;
      }
    }

  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .register-container {
    .left {
      display: none;
    }

    .right {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .register-container {
    .left {
      display: none;
    }

    .right {
      width: 100%;

      .title-login {
        font-size: 24px;
      }

      .form {
        display: block;
        .inputs {
          width: 100%;
        }
        .login-btn {
          border-radius: 16px;
          margin-top: 20px;
          width: 100%;
        }

        .login-btn-disablet {
          margin-top: 20px;
          width: 100%;
          border-radius: 16px;
        }
      }

      .form-verify {
        display: block;
        height: auto;
        .login-btn {
          border-radius: 16px;
          margin-top: 20px;
          width: 100%;
        }

        .login-btn-disablet {
          margin-top: 20px;
          width: 100%;
          border-radius: 16px;
        }
      }
    }
  }
}